## How to read file in Pandas

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv("http://bit.ly/uforeports")

In [3]:
type(ufo)

pandas.core.frame.DataFrame

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [6]:
ufo.shape

(18241, 5)

In [7]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [8]:
ufo['Location'] = ufo.City+'. '+ufo.State

In [9]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca. NY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro. NJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,Holyoke. CO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,Abilene. KS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds Fair. NY

In [10]:
#rename column
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

In [11]:
ufo.rename(columns = {"Locatio":"location"},inplace =True)

In [12]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca. NY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro. NJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,Holyoke. CO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,Abilene. KS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds Fair. NY

In [15]:
ufo_col = ["city", "colors" ,"shape" , "state" , "time" , "location"]

In [16]:
ufo.columns = ufo_col

In [17]:
ufo.head()

,city,colors,shape,state,time,location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca. NY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro. NJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,Holyoke. CO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,Abilene. KS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds Fair. NY

In [24]:
ufo_col = ["city", "colors" ,"shape" , "state" , "time"]
ufo = pd.read_csv("http://bit.ly/uforeports" , names = ufo_col , header=0)

In [25]:
ufo

                       city colors     shape state              time
0                    Ithaca    NaN  TRIANGLE    NY    6/1/1930 22:00
1               Willingboro    NaN     OTHER    NJ   6/30/1930 20:00
2                   Holyoke    NaN      OVAL    CO   2/15/1931 14:00
3                   Abilene    NaN      DISK    KS    6/1/1931 13:00
4      New York Worlds Fair    NaN     LIGHT    NY   4/18/1933 19:00
...                     ...    ...       ...   ...               ...
18236            Grant Park    NaN  TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake    NaN      DISK    IA  12/31/2000 23:00
18238           Eagle River    NaN       NaN    WI  12/31/2000 23:45
18239           Eagle River    RED     LIGHT    WI  12/31/2000 23:45
18240                  Ybor    NaN      OVAL    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [28]:
ufo.columns = ufo.columns.str.replace("c","_")

In [29]:
ufo.columns

Index(['_ity', '_olors', 'shape', 'state', 'time'], dtype='object')