In [1]:
import pandas as pd

In [8]:
orders = pd.read_table("http://bit.ly/chiporders")

In [16]:
orders.shape

(4622, 5)

In [9]:
orders.item_name = orders.item_name.str.upper()

In [15]:
orders[orders.item_name.str.contains('CHICKEN')==True].shape

(1560, 5)

In [17]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,CHIPS AND FRESH TOMATO SALSA,NaN,$2.39
1,1,1,IZZE,[Clementine],$3.39
2,1,1,NANTUCKET NECTAR,[Apple],$3.39
3,1,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,$2.39
4,2,2,CHICKEN BOWL,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [19]:
#replace brackets in in columns

orders.choice_description = orders.choice_description.str.replace('[' , '').str.replace(']','')

In [20]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,CHIPS AND FRESH TOMATO SALSA,NaN,$2.39
1,1,1,IZZE,Clementine,$3.39
2,1,1,NANTUCKET NECTAR,Apple,$3.39
3,1,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,$2.39
4,2,2,CHICKEN BOWL,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98