## Delete duplicate rows in python

In [1]:
import pandas as pd

In [12]:
cols = ['UserID' , 'Age' , 'Gender'  ,'Occupation'  , 'Zip_Code']
users = pd.read_table("http://bit.ly/movieusers" , sep = '|'  , header = None , names = cols)

In [13]:
users.head()

   UserID  Age Gender  Occupation Zip_Code
0       1   24      M  technician    85711
1       2   53      F       other    94043
2       3   23      M      writer    32067
3       4   24      M  technician    43537
4       5   33      F       other    15213

In [14]:
users.shape

(943, 5)

In [18]:
users.Zip_Code.duplicated().sum()

148

In [19]:
users.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
938    False
939    False
940    False
941    False
942    False
Length: 943, dtype: bool

In [20]:
users.duplicated().sum()

0

In [ ]:
users.drop_duplicates()